* {
  background-color: rgba(17, 33, 27, 0.2);
  color: #e6d8ba;

  border: none;
  border-radius: 0;
  min-height: 30px;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 16px;
  padding: 1px 0;
}

window#waybar {
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: #a37800;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
  padding: 0 10px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
